#minamount,
#maxamount {
    max-width: 40% !important;
}

.price-input:after {
    left: 112px !important;
}

.logo-text {
    color: black;
    font-weight: 900;
    font-size: 24px;
}

.logo-text span {
    color: #e7ab3c;
}

.footer-logo-text {
    color: white;
}

.logout-btn {
    color: #C70039 !important;
}

.login-panel {
    padding: 18px 20px !important;
}

.admin-footer {
    /*position: absolute;
    bottom: 0;*/
}

.best-products-div {
    display: flex;
    justify-content: space-between;
}

.admin-searchbar {
    min-height: 44px !important;
}

.custom-search-btn {
    right: -35px !important;
}

.custom-search-form {
    height: 47px;
}

.filter-btn {
    border: none;
}

.active-filter,
.filter-catagories li a:hover {
    color: #e7ab3c !important;
}

.active-tag {
    color: #e7ab3c !important;
    border-color: #e7ab3c !important;
    background-color: #e7ab3c26 !important;
}

.table-card-header {
    display: flex;
    justify-content: space-between;
}

.no-wrap-line {
    white-space: nowrap !important;
}

.actions-btn {
    width: min-content !important;
    height: min-content !important;
}

.custom-table tbody {
    display: block !important;
    height: 500px !important;
    overflow: auto !important;
}

.custom-table thead {
    display: table !important;
    width: 100% !important;
    table-layout: fixed !important;
    /* even columns width , fix width of table too*/
}